# .htaccess
RewriteEngine On

# Si el archivo o directorio no existe, redirigir a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# Permitir acceso a archivos PHP
<FilesMatch "\.php$">
    Require all granted
</FilesMatch>

# Configurar PHP
php_flag display_errors On
php_value error_reporting E_ALL
